CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
# Visual Studio 2015/2017 cache/options directory
.vs/
*.ninja
*.json
VSInheritEnvironments.txt